# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Start Generation Here
__pycache__/

# End Generation Here

# dependencies
/__pycache__/
/venv/
/util/venv


# misc
.DS_Store
*.pem

# local env files
.env*.local
.env
.deploy

# vercel
.vercel

